@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;
  --color-secondary: #10B981;
  --font-sans: "Work Sans", "sans-serif";
  --font-serif: "Merriweather", "serif";
}

@layer base {
  [x-cloak] { display: none !important; }
}
